{% extends "blog/base.html" %}
{% block content%}

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <div class="col-lg-10 mx-auto">
                <h1>{{ post.title }}</h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</main>
    <!-- /.container -->

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="post">
        </div>
    </div>
{% endblock %}