{% extends 'blog/base.html' %}

{% block post %}
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Photo Gallery</h1>
            <p>
                This is my on going web programming project as well as my personal blog and photo. Please bare with me as a lot of things will look out of place
            as I progress my knowledge with web technologies and my understanding on how to implement them in a way that I find useful and aesthetically pleasing.
            Thanks for stopping by and if you have any suggestions don't hesitate to contact me.
            </p>
        </div>
    </div>

    <!-- /.container -->

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4">
                <div>
                    <p>published: {{post.published_date}}</p>
                </div>
                <h3><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a> </h3>
                <p>{{ post.text | linebreaksbr }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
        <hr>
</main>

{% endblock %}
