{% extends 'base.html' %}
{% load el_pagination_tags %}
{% block photo %}
{% include page_template %}
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Photo Gallery</h1>
            <p>I recently took an interest in photography so this gallery is to share some of my favorite pictures that I have taken. If you like them and want to use any just contact me and we will work something out.</p>
        </div>
    </div>

    <div class="row">

    {% for entry in entries%}
            <div class="col-md-4">
                <img class="img-fluid img-thumbnail" src="{{ entry }}" />
            </div>
    {% endfor %}
    {% show_more %}

    </div>
    <hr>

</main>
{% endblock %}

