{% extends 'base.html' %}
{% block photo %}
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Photo Gallery</h1>
            <p>I recently took an interest in photography so this gallery is to share some of my favorite pictures that I have taken. If you like them and want to use any just contact me and we will work something out.</p>
        </div>
    </div>

    {% comment %} <div class="container infinite-container">
        <!-- Example row of columns -->
        <center> {{ error }} </center>
        <div class="row ">
            {% for page in page_numbers %}
                    <div class="col-md-4">
                        <img class="img-fluid img-thumbnail infinite-item" src="{{ page }}" />
                    </div>
            {% endfor %}
        </div>
    </div> {% endcomment %}

    <div class="row infinite-container">
        {% for page in page_numbers %}
                <div class="col-md-4">
                    <img class="img-fluid img-thumbnail infinite-item" src="{{ page }}" />
                </div>
        {% endfor %}
    </div>

    {% if page_numbers.has_next%}
        <a class="infinite-more-link" href="?page={{ page_numbers.next_page_number }}">More</a>
    {% endif %}

    <hr>
</main>

     <script>
        var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0]
        });
    </script> 
{% endblock %}

